body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: hsl(220 50% 97% / 1);
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

.pickers-row {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.spacer {
  min-height: 400px;
}

.toolbar {
  .rc-picker-dropdown {
    position: static;
  }

  .rc-picker-dropdown-range {
    padding: 0;
  }

  .rc-picker-range-arrow {
    display: none;
  }

  .rc-picker-panel-container {
    box-shadow: none;
  }
}
