$background-color: rgb(255, 240, 255);

$input-placeholder-color: hsv(0, 0, 75%);

.rc-picker {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  color: rgba(0,0,0,.88);
  font-size: 14px;
  line-height: 1;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  transition: border .2s,box-shadow .2s;
  $that: &;

  &-rtl {
    direction: rtl;
  }

  &-focused {
    border: 1px solid blue;
  }
  &-panel {
    display: inline-block;
    vertical-align: top;
    background: $background-color;
    border: 1px solid #666;

    &-focused {
      border-color: blue;
    }

    &-rtl {
      direction: rtl;
    }
  }

  // ===================== Shared Panel =====================
  &-decade-panel,
  &-year-panel,
  &-month-panel,
  &-week-panel,
  &-date-panel,
  &-time-panel {
    display: flex;
    flex-direction: column;

    table {
      text-align: center;
      border-collapse: collapse;
    }
  }

  // Header
  &-header {
    display: flex;

    > * {
      flex: none;
    }

    &-view {
      flex: auto;
      text-align: center;

      > button {
        padding: 0;
        border: 0;
      }
    }
  }

  // Content
  &-cell {
    color: #aaa;

    &-disabled {
      opacity: 0.2;
    }

    &-inner {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      height: 20px;
      margin: 0;
      padding: 0;
      font-size: 12px;
      line-height: 20px;
      background: transparent;
      border: 0;
      border: none;
      outline: none;
      cursor: pointer;
      transition: background 0.3s, border 0.3s;

      &:hover {
        background: fade(blue, 30%);
      }
    }

    &-in-view {
      color: #333;
    }

    &-in-range > &-inner {
      background: fade(blue, 5%);
    }
    &-range-hover-start,
    &-range-hover-end,
    &-range-hover {
      position: relative;
      &::after {
        position: absolute;
        top: 3px;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid green;
        border-right: 0;
        border-left: 0;
        content: "";
        pointer-events: none;
      }
    }

    &-range-hover-start::after {
      border-left: 1px solid green !important;
    }
    &-range-hover-end::after {
      border-right: 1px solid green !important;
    }

    &-today > &-inner {
      border: 1px solid blue;
    }
    &-range-start > &-inner,
    &-range-end > &-inner,
    &-selected > &-inner {
      background: fade(blue, 20%);
    }
  }

  // Preset
  &-presets {
    background: #ccccff;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  &-footer,
  &-picker-footer {
    background: green;
  }

  &-ranges {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;

    > li {
      display: inline-block;
    }
  }

  &-ok {
    float: right;
  }

  // ================== Year & Month Panel ==================
  &-year-panel,
  &-month-panel {
    #{$that}-cell-inner {
      width: 80px;
    }
  }

  // ====================== Week Panel ======================
  &-week-panel {
    &-row {
      &:hover {
        #{$that}-cell {
          background: red;
        }
      }

      &-selected {
        #{$that}-cell {
          background: rgba(0, 0, 255, 0.3);
        }
      }

      &-range {
        &-hover {
          #{$that}-cell {
            background: rgba(0, 255, 0, 0.1);
          }
        }

        &-start,
        &-end {
          #{$that}-cell {
            background: rgba(0, 255, 0, 0.3);
          }
        }
      }
    }

    #{$that}-cell,
    #{$that}-cell-inner {
      width: 20px;
    }

    #{$that}-cell-week {
      color: #999;
      font-weight: bold;
      font-size: 12px;
    }

    #{$that}-cell:hover > #{$that}-cell-inner,
    #{$that}-cell-selected > #{$that}-cell-inner {
      background: transparent;
    }
  }

  // ====================== Date Panel ======================
  &-date-panel {
    #{$that}-cell-inner {
      width: 20px;
    }
  }

  // ====================== Time Panel ======================
  &-time-panel {
    width: auto;

    #{$that}-content {
      display: flex;
      max-height: 200px;
    }

    &-column {
      flex: none;
      width: 50px;
      margin: 0;
      padding: 0 0 180px 0;
      overflow-x: hidden;
      overflow-y: hidden;
      font-size: 12px;
      text-align: left;
      list-style: none;
      transition: background 0.3s;

      &-active {
        background: rgba(0, 0, 255, 0.1);
      }

      &:hover {
        overflow-y: auto;
      }

      > li {
        margin: 0;
        padding: 0;
        cursor: pointer;

        &#{$that}-time-panel-cell {
          &-disabled {
            opacity: 0.5;
          }
        }

        #{$that}-time-panel-cell-inner {
          display: block;
          width: 100%;
          height: 20px;
          margin: 0;
          padding: 0 0 0 12px;
          color: #333;
          line-height: 20px;
          text-align: left;

          #{$that}-panel-rtl {
            padding: 0 12px 0 0;
            text-align: right;
          }
        }
      }
    }
  }

  // ====================== Date Time =======================
  &-datetime-panel {
    display: flex;

    #{$that}-time-panel {
      border-left: 1px solid #999;
    }

    #{$that}-date-panel,
    #{$that}-time-panel {
      transition: opacity 0.3s;
    }

    // Keyboard
    &-active {
      #{$that}-date-panel,
      #{$that}-time-panel {
        opacity: 0.3;

        &-active {
          opacity: 1;
        }
      }
    }
  }

  // ======================== Input =========================
  &-input {
    position: relative;
    display: inline-flex;
    width: 100%;

    #{$that}-rtl {
      text-align: right;
    }

    > input {
      width: 100%;
      // Firefox
      &::-moz-placeholder {
        opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
      }

      &::placeholder {
        color: $input-placeholder-color;
      }

      &:placeholder-shown {
        text-overflow: ellipsis;
      }
    }

    &-placeholder {
      > input {
        color: $input-placeholder-color;
      }
    }
  }

  &-clear {
    position: absolute;
    top: 0;
    right: 4px;
    cursor: pointer;

    #{$that}-rtl {
      right: auto;
      left: 4px;
    }

    &-btn::after {
      content: "×";
    }
  }

  // ======================= Dropdown =======================
  &-dropdown {
    position: absolute;
    box-shadow: 0 0 1px red;

    &-range {
      padding: 10px 0;
    }

    &-hidden {
      display: none;
    }

    // Panel
    $arrow-size: 10px;

    &-placement-topLeft,
    &-placement-topRight {
      #{$that}-range-arrow {
        bottom: calc(($arrow-size / 2) + 1px);
        transform: rotate(135deg);
      }
    }
    &-placement-bottomLeft,
    &-placement-bottomright {
      #{$that}-range-arrow {
        top: calc(($arrow-size / 2) + 1px);
        transform: rotate(-45deg);
      }
    }

    #{$that}-range-arrow {
      position: absolute;
      left: $arrow-size;
      z-index: 1;
      width: $arrow-size;
      height: $arrow-size;
      margin-left: 10px;
      transition: all 0.3s;

      #{$that}-dropdown-rtl {
        right: $arrow-size;
        left: auto;
        margin-right: 10px;
        margin-left: 0;
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        content: "";

        #{$that}-dropdown-rtl {
          right: 50%;
          left: auto;
          transform: translate(50%, -50%);
        }
      }

      &::before {
        width: $arrow-size;
        height: $arrow-size;
        border: calc($arrow-size / 2) solid blue;

        border-color: blue blue transparent transparent;
      }
      &::after {
        width: $arrow-size - 2px;
        height: $arrow-size - 2px;
        border: calc(($arrow-size - 2px) / 2) solid blue;
        border-color: $background-color $background-color transparent transparent;
      }
    }
  }

  // ========================================================
  // =                     Range Picker                     =
  // ========================================================
  &-range {
    &-wrapper {
      display: flex;
    }

    #{$that}-active-bar {
      bottom: 0;
      height: 3px;
      background: green;
      opacity: 0;
      transition: all 0.3s;
      pointer-events: none;
    }

    &#{$that}-focused {
      #{$that}-active-bar {
        opacity: 1;
      }
    }
  }

  &-panel-container {
    display: inline-block;
    vertical-align: top;
    transition: margin 0.3s;
  }

  &-panel-layout {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}
